<div class="login-component">

  <div class="container">
    <div class="row justify-content-center">

      <section class="tile bg_1 col-10">
        <header>Book</header>
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-4">
              <label for="title">Working Title</label>
            </div>
            <div class="col">
              <input type="text" formControlName="title">
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="stage">Stage</label>
            </div>
            <div class="col">
              <select formControlName="stage">
                <option>Received</option>
                <option>Reviewed</option>
                <option>Accepted</option>
                <option>Contract Signed</option>
                <option>Edited</option>
                <option>Copyedited</option>
                <option>Typeset</option>
                <option>In Print</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="authors">Authors</label>
            </div>
            <div class="col-4">
              <input type="text" formControlName="authors">
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="editor">Main editor</label>
            </div>
            <div class="col-4">
              <input type="text" formControlName="editor">
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="pcp">Person currently processing</label>
            </div>
            <div class="col-4">
              <input type="text" formControlName="pcp">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button type="submit" class="btn" [disabled]="!bookForm.valid">Submit</button>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>

</div>
